.tab {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  &__view {
    margin: 0 auto;
    width: 60%;
    margin-top: 7rem;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 2rem 0;
    background-color: teal;
    cursor: pointer;
    color: black;
  }

  &__properties {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 4rem 0rem;
    background-color: darkslateblue;
    gap: 2rem;
  }

  &.header {
    font-size: 1.5rem;
    padding: 2rem 0rem;
  }
  &.row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    & > div {
      border: 1px solid darkslateblue;
    }
  }
}

.tab__view {
  & input {
    font-size: 2rem;
    margin: 0.5rem;
  }
}
