.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(100, 100, 100, 0.8);
  text-align: center;
  z-index: 2;

  &__content {
    position: fixed;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 15px;
  }

  &__close {
    cursor: pointer;
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin: 2rem;
    font-size: 2rem;

    & * {
      font-size: 2rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > input {
      font-size: 1.5rem;
      height: 2rem;
    }
    & > select {
      font-size: 1.5rem;
      height: 2rem;
      width: 100%;
      border: none;
    }
  }
}
