body {
  background-color: #181a1b;
}
.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.content-wrapper {
  width: 100%;
  position: relative;

  & modal {
    background-color: transparent;
  }
}

.sidebar {
  min-width: 17vw;
  &__navbar {
    background-color: #181a1b;
    height: 100vh;
    width: 17vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__request {
    & > ul {
      list-style: none;
    }

    & li {
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: #4ff0ba;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
  }
}

.load-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
